@media screen and (max-width: 1200px) {
  main .left .img-wrapper img {
    width: 100%;
    height: 340px;
  }
  .my-container {
    width: 98%;
  }
}

@media screen and (max-width: 992px) {
  .top-header #logo-img {
    width: 70%;
  }
  .product {
    flex-basis: 48%;

  }
  .section-title {
    font-size: 20px;
  }
  .paragraph, #about-us .my-container .right .paragraph {
    font-size: 12px !important;
  }
  .green-btn, .bordred-btn {
    font-size: 14px;
  }
  main .left .img-wrapper img {
    height: 300px;
  }
  #about-us .my-container .right .list li {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  main .left .img-wrapper img {
    width: 78%;
    height: 400px;
  }
  main > .my-container {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  #product1 .filter li a:link svg, #product1 .filter li a:visited svg {
    height: 30px;
  }
  #product1 .filter li a:link, #product1 .filter li a:visited {
    font-size: 12px;
    padding: 10px 0;
  }
  #product1 .filter li {
    width: 90px;
  }
  .product {
    flex-basis: 100%;
  }
  .card-img, .card-img-bottom, .card-img-top {
    width: fit-content;
    margin: 0 auto;
    display: block;
  }
  #amazing-products .my-container .slide-wrapper {
    flex-wrap: wrap !important;
  }
  #modern > .my-container {
    display: flex !important;
    flex-direction: column-reverse !important;
    gap: 30px;
    height: auto;
  }
  #last-articles .my-container > div:last-child {
    grid-template-areas:    't-l'
                            't-r'
                            'c-c'
                            'b-l'
                            'b-r';
  }
  #last-articles .my-container > div:last-child > div {
    min-height: 150px;
  }
  .top-header #logo-img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .top-header #logo-img {
    width: 110%;
  }
  #product1 .filter {
    flex-wrap: wrap;
  }
  #product1 .filter li {
    width: 100px;
  }
  #product1 .filter li a:link, #product1 .filter li a:visited {
    padding: 13px 0;
  }

}