footer#footer
    .my-container.rounded-4.p-3.row
        div.col-12.row
            div.col-md-2.col-6.d-block.mx-auto.mx-md-0.mb-3
                img(src="images/logo-icon.png" alt="").w-100
            div.col-md-10.col-12
                p.fw-lighter.paragraph.text-secondary.lh-lg لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلیرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز است.
        div.col-12.row
            div.col.mt-4.mt-md-0
                h5.fw-lighter دسترسی سریع
                ul.footer-list
                    li.my-2
                        a(href="") درباره ما
                    li.my-2
                        a(href="") راهنمای ثبت نام
                    li.my-2
                        a(href="") تماس با ما
                    li.my-2
                        a(href="") مرکز پشتیبانی
                    li.my-2
                        a(href="") فروشگاه ما

            div.col.mt-4.mt-md-0
                h5.fw-lighter خدمات ما
                ul.footer-list
                    li.my-2
                        a(href="") سوالات متداول
                    li.my-2
                        a(href="") حریم خصوصی
                    li.my-2
                        a(href="") قوانین و مقررات
                    li.my-2
                        a(href="") فرصت های شغلی
                    li.my-2
                        a(href="") شکایات

            div.col-12.col-md.mt-4.mt-md-0
                h5.fw-lighter تماس با ما
                p.paragraph.lh-lg.text-secondary-emphasis استان یزد، یزد، خیابان خوبان، کوچه طراحان سایت، پلاک 5، طبقه 2، واحد 302
                br
                span.fw-lighter تلفن:
                span.number.text-secondary-emphasis.fw-lighter 09121234567
                span.number.text-secondary-emphasis.fw-lighter 09121234567
                br
                span.fw-lighter فکس:
                span.number.text-secondary-emphasis.fw-lighter 09121234567
                span.number.text-secondary-emphasis.fw-lighter 09121234567
            div.col-12.col-md-4.mt-4.mt-md-0
                h5.fw-lighter مجوز های ما
                p.paragraph.fw-lighter.lh-lg.text-secondary-emphasis تمامی حقوق برای سایت آماده روشنایی محفوظ است.
                div.d-flex.gap-2
                    img(src="images/mojavez.png" alt="")
                    img(src="images/mojavez.png" alt="")
                div.d-flex.gap-2.mt-3
                    a(href="")
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill=""><path opacity="0.4" d="M21.5867 2.66663H10.4133C5.55999 2.66663 2.66666 5.55996 2.66666 10.4133V21.5733C2.66666 26.44 5.55999 29.3333 10.4133 29.3333H21.5733C26.4267 29.3333 29.32 26.44 29.32 21.5866V10.4133C29.3333 5.55996 26.44 2.66663 21.5867 2.66663Z" fill=""></path><path d="M16 21.1733C18.8571 21.1733 21.1733 18.8571 21.1733 16C21.1733 13.1428 18.8571 10.8267 16 10.8267C13.1428 10.8267 10.8267 13.1428 10.8267 16C10.8267 18.8571 13.1428 21.1733 16 21.1733Z" fill="#254E38FF"></path><path d="M22.6667 9.99999C22.3067 9.99999 21.9733 9.86666 21.72 9.61333C21.6 9.47999 21.5067 9.33333 21.44 9.17333C21.3733 9.01333 21.3333 8.83999 21.3333 8.66666C21.3333 8.49333 21.3733 8.31999 21.44 8.15999C21.5067 7.98666 21.6 7.85333 21.72 7.71999C22.0267 7.41333 22.4933 7.26666 22.92 7.35999C23.0133 7.37333 23.0933 7.39999 23.1733 7.43999C23.2533 7.46666 23.3333 7.50666 23.4133 7.55999C23.48 7.59999 23.5467 7.66666 23.6133 7.71999C23.7333 7.85333 23.8267 7.98666 23.8933 8.15999C23.96 8.31999 24 8.49333 24 8.66666C24 8.83999 23.96 9.01333 23.8933 9.17333C23.8267 9.33333 23.7333 9.47999 23.6133 9.61333C23.48 9.73333 23.3333 9.82666 23.1733 9.89333C23.0133 9.95999 22.84 9.99999 22.6667 9.99999Z" fill="#254E38FF"></path></svg>
                    a(href="")
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill=""><path opacity="0.58" d="M32 0H0V32H32V0Z" fill="none"></path><path opacity="0.4" d="M22.6667 26.6667H9.33332C5.33332 26.6667 2.66666 24 2.66666 20V12C2.66666 8.00004 5.33332 5.33337 9.33332 5.33337H22.6667C26.6667 5.33337 29.3333 8.00004 29.3333 12V20C29.3333 24 26.6667 26.6667 22.6667 26.6667Z" fill=""></path><path d="M15.2266 12.6533L18.52 14.6266C19.7733 15.3866 19.7733 16.6133 18.52 17.3733L15.2266 19.3466C13.8933 20.1466 12.8 19.5333 12.8 17.9733V14.0133C12.8 12.4666 13.8933 11.8533 15.2266 12.6533Z" fill="#254E38FF"></path></svg>
                    a(href="")
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill=""><path opacity="0.58" d="M32 0H0V32H32V0Z" fill="none"></path><path opacity="0.4" d="M9.25342 27.5066C11.2401 28.6666 13.5467 29.3333 16.0001 29.3333C23.5067 29.3333 29.7467 22.7066 29.3067 15.2133C28.8534 7.47995 21.8267 1.51995 13.7334 2.85328C8.16007 3.77328 3.69341 8.29328 2.82674 13.8666C2.32007 17.0933 2.98677 20.1466 4.4401 22.6666L3.25342 27.0799C2.98675 28.0799 3.90673 28.9866 4.89339 28.7066L9.25342 27.5066Z" fill=""></path><path d="M22.6667 20.2266C22.6667 20.4666 22.6133 20.72 22.4933 20.96C22.3733 21.2 22.2267 21.4266 22.04 21.64C21.7067 22 21.3467 22.2666 20.9467 22.4266C20.5467 22.6 20.1067 22.68 19.64 22.68C18.96 22.68 18.2266 22.52 17.4666 22.1866C16.6933 21.8533 15.9333 21.4133 15.1733 20.8666C14.4 20.3066 13.68 19.68 12.9867 19C12.2933 18.3066 11.68 17.5733 11.12 16.8133C10.5734 16.0533 10.1333 15.2933 9.81332 14.5333C9.49332 13.7733 9.33334 13.04 9.33334 12.3466C9.33334 11.8933 9.41333 11.4533 9.57333 11.0533C9.73333 10.64 9.98669 10.2666 10.3467 9.9333C10.7734 9.50663 11.24 9.30664 11.7333 9.30664C11.92 9.30664 12.1067 9.34664 12.28 9.42664C12.4534 9.50664 12.6133 9.62663 12.7333 9.79997L14.2667 12C14.3867 12.1733 14.48 12.32 14.5334 12.4666C14.6 12.6133 14.6266 12.7466 14.6266 12.88C14.6266 13.04 14.5733 13.2 14.48 13.36C14.3867 13.52 14.2667 13.68 14.1067 13.84L13.6 14.3733C13.52 14.4533 13.4933 14.5333 13.4933 14.64C13.4933 14.6933 13.5067 14.7466 13.52 14.8C13.5467 14.8533 13.56 14.8933 13.5733 14.9333C13.6933 15.16 13.9067 15.44 14.2 15.7866C14.5067 16.1333 14.8267 16.4933 15.1733 16.84C15.5333 17.2 15.88 17.52 16.24 17.8266C16.5867 18.12 16.88 18.32 17.1067 18.44C17.1467 18.4533 17.1867 18.48 17.2267 18.4933C17.28 18.52 17.3333 18.52 17.4 18.52C17.52 18.52 17.6 18.48 17.68 18.4L18.1867 17.8933C18.36 17.72 18.52 17.6 18.6667 17.52C18.8267 17.4266 18.9733 17.3733 19.1467 17.3733C19.28 17.3733 19.4133 17.4 19.56 17.4666C19.7067 17.5333 19.8667 17.6133 20.0267 17.7333L22.24 19.3066C22.4133 19.4266 22.5334 19.5733 22.6134 19.7333C22.6267 19.88 22.6667 20.04 22.6667 20.2266Z" fill="#254E38FF"></path></svg>
                    a(href="")
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill=""><path opacity="0.58" d="M32 0H0V32H32V0Z" fill="none"></path><path opacity="0.4" d="M21.5867 2.66663H10.4267C5.57335 2.66663 2.68002 5.55996 2.68002 10.4133V21.5733C2.68002 26.4266 5.57335 29.32 10.4267 29.32H21.5867C26.44 29.32 29.3333 26.4266 29.3333 21.5733V10.4133C29.3333 5.55996 26.44 2.66663 21.5867 2.66663Z" fill=""></path><path d="M18.56 12.3732L18.6266 16.3066L22.1333 16.2532C22.3866 16.2532 22.5733 16.4799 22.5333 16.7199L22.0666 19.2666C22.0266 19.4532 21.8666 19.5866 21.68 19.5999L18.68 19.6532L18.84 29.3199L14.84 29.3866L14.68 19.7199L12.4133 19.7599C12.1866 19.7599 12.0133 19.5866 12.0133 19.3599L11.9733 16.8266C11.9733 16.5999 12.1466 16.4266 12.3733 16.4266L14.64 16.3866L14.5733 12.0532C14.5333 9.8399 16.2933 8.02656 18.5066 7.98656L22.1066 7.93323C22.3333 7.93323 22.5066 8.10656 22.5066 8.33323L22.56 11.5332C22.56 11.7599 22.3866 11.9332 22.1599 11.9332L18.96 11.9866C18.7333 11.9732 18.56 12.1599 18.56 12.3732Z" fill="#254E38FF"></path></svg>








