header.top-header.bg-white.mx-4.my-3.row.p-1
    div.col-4.col-lg.d-flex.d-lg-none.justify-content-start.align-items-center
        i.fas.fa-bars.fs-3.bars-icon

    div.d-flex.align-items-center.col-xl-2.col-lg-3.col-4
        a(href="index.html").d-inline-block
            img(src="images/logo-icon.png" alt="logo")#logo-img.d-block.my-0.mx-auto
    div.col-xl-10.col-lg-9.row.col-4.p-0

        div.col.d-flex.align-items-center.col-lg-9
            ul.d-lg-flex.align-items-center.p-0.m-0#menu-item.gap-xl-5.gap-lg-4.d-none
                li
                    a(href="#").a-btn.d-flex.flex-row-reverse.gap-1.fw-lighter  صفحه اصلی
                        svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20', fill='none')
                            path(opacity='0.3', d='M17.3584 6.6751L11.9001 2.30843C10.8334 1.45843 9.16672 1.4501 8.10838 2.3001L2.65005 6.6751C1.86672 7.3001 1.39172 8.5501 1.55838 9.53343L2.60838 15.8168C2.85005 17.2251 4.15838 18.3334 5.58338 18.3334H14.4167C15.8251 18.3334 17.1584 17.2001 17.4001 15.8084L18.4501 9.5251C18.6001 8.5501 18.1251 7.3001 17.3584 6.6751Z' fill='#797979')
                            path(d='M10 15.625C9.65833 15.625 9.375 15.3417 9.375 15V12.5C9.375 12.1583 9.65833 11.875 10 11.875C10.3417 11.875 10.625 12.1583 10.625 12.5V15C10.625 15.3417 10.3417 15.625 10 15.625Z' fill='#464646')

                li
                    a(href="#").a-btn.d-flex.flex-row-reverse.gap-1.fw-lighter  فروشگاه
                        svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20', fill='none')
                            path(opacity='0.3', d='M17.8083 9.49163V14.4833C17.8083 16.7833 15.9417 18.65 13.6417 18.65H6.35832C4.05832 18.65 2.19165 16.7833 2.19165 14.4833V9.54997C2.82498 10.2333 3.72498 10.625 4.69998 10.625C5.74998 10.625 6.75832 10.1 7.39165 9.2583C7.95832 10.1 8.92498 10.625 9.99998 10.625C11.0667 10.625 12.0167 10.125 12.5917 9.29163C13.2333 10.1166 14.225 10.625 15.2583 10.625C16.2666 10.625 17.1833 10.2166 17.8083 9.49163Z' fill='#797979')
                            path(d='M12.4916 1.04175H7.49162L6.87496 7.17508C6.82496 7.74175 6.90829 8.27508 7.11662 8.75841C7.59996 9.89175 8.73329 10.6251 9.99996 10.6251C11.2833 10.6251 12.3916 9.90841 12.8916 8.76675C13.0416 8.40841 13.1333 7.99175 13.1416 7.56675V7.40841L12.4916 1.04175Z' fill='#254E38')
                            path(opacity='0.6', d='M18.6333 6.89175L18.3916 4.58341C18.0416 2.06675 16.9 1.04175 14.4583 1.04175H11.2583L11.875 7.29175C11.8833 7.37508 11.8916 7.46675 11.8916 7.62508C11.9416 8.05841 12.075 8.45841 12.275 8.81675C12.875 9.91675 14.0416 10.6251 15.2583 10.6251C16.3666 10.6251 17.3666 10.1334 17.9916 9.26675C18.4916 8.60008 18.7166 7.75841 18.6333 6.89175Z' fill='#7C9588')
                            path(opacity='0.6', d='M5.49162 1.04175C3.04162 1.04175 1.90829 2.06675 1.54995 4.60841L1.32495 6.90008C1.24162 7.79175 1.48329 8.65841 2.00829 9.33341C2.64162 10.1584 3.61662 10.6251 4.69995 10.6251C5.91662 10.6251 7.08329 9.91675 7.67495 8.83342C7.89162 8.45842 8.03329 8.02508 8.07495 7.57508L8.72495 1.05008H5.49162V1.04175Z' fill='#7C9588')
                            path(d='M9.45843 13.8834C8.4001 13.9917 7.6001 14.8917 7.6001 15.9584V18.65H12.3918V16.25C12.4001 14.5084 11.3751 13.6834 9.45843 13.8834Z' fill='#254E38')


                li
                    a(href="#").a-btn.d-flex.flex-row-reverse.gap-1.fw-lighter  وبلاگ
                        svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20', fill='none')
                            path(opacity='0.3', d='M17.0834 5.83342V12.5001H5.29175C3.98341 12.5001 2.91675 13.5667 2.91675 14.8751V5.83342C2.91675 2.50008 3.75008 1.66675 7.08342 1.66675H12.9167C16.2501 1.66675 17.0834 2.50008 17.0834 5.83342Z' fill='#797979')
                            path(d='M17.0834 12.5V15.4167C17.0834 17.025 15.7751 18.3333 14.1667 18.3333H5.83341C4.22508 18.3333 2.91675 17.025 2.91675 15.4167V14.875C2.91675 13.5667 3.98341 12.5 5.29175 12.5H17.0834Z' fill='#254E38')
                            path(d='M13.3334 6.45825H6.66675C6.32508 6.45825 6.04175 6.17492 6.04175 5.83325C6.04175 5.49159 6.32508 5.20825 6.66675 5.20825H13.3334C13.6751 5.20825 13.9584 5.49159 13.9584 5.83325C13.9584 6.17492 13.6751 6.45825 13.3334 6.45825Z' fill='#254E38')
                            path(d='M10.8334 9.375H6.66675C6.32508 9.375 6.04175 9.09167 6.04175 8.75C6.04175 8.40833 6.32508 8.125 6.66675 8.125H10.8334C11.1751 8.125 11.4584 8.40833 11.4584 8.75C11.4584 9.09167 11.1751 9.375 10.8334 9.375Z' fill='#254E38')

                li
                    a(href="#").a-btn.d-flex.flex-row-reverse.gap-1.fw-lighter  درباره ما
                        svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20', fill='none')
                            path(opacity='0.3', d='M17.5668 7.15011V12.8501C17.5668 13.7834 17.0667 14.6501 16.2584 15.1251L11.3084 17.9834C10.5001 18.4501 9.50006 18.4501 8.68339 17.9834L3.73339 15.1251C2.92505 14.6584 2.42505 13.7917 2.42505 12.8501V7.15011C2.42505 6.21678 2.92505 5.35008 3.73339 4.87508L8.68339 2.01675C9.49172 1.55008 10.4917 1.55008 11.3084 2.01675L16.2584 4.87508C17.0667 5.35008 17.5668 6.20844 17.5668 7.15011Z' fill='#797979')
                            path(d='M10 11.4583C9.65833 11.4583 9.375 11.1749 9.375 10.8333V6.45825C9.375 6.11659 9.65833 5.83325 10 5.83325C10.3417 5.83325 10.625 6.11659 10.625 6.45825V10.8333C10.625 11.1749 10.3417 11.4583 10 11.4583Z' fill='#254E38')
                            path(d='M10.0001 14.375C9.89175 14.375 9.78341 14.3499 9.68341 14.3083C9.57508 14.2666 9.49173 14.2083 9.4084 14.1333C9.3334 14.05 9.27509 13.9583 9.22509 13.8583C9.18342 13.7583 9.16675 13.65 9.16675 13.5416C9.16675 13.325 9.25006 13.1083 9.4084 12.9499C9.49173 12.8749 9.57508 12.8166 9.68341 12.775C9.99174 12.6416 10.3584 12.7166 10.5918 12.9499C10.6668 13.0333 10.7251 13.1166 10.7667 13.225C10.8084 13.325 10.8334 13.4333 10.8334 13.5416C10.8334 13.65 10.8084 13.7583 10.7667 13.8583C10.7251 13.9583 10.6668 14.05 10.5918 14.1333C10.4334 14.2916 10.2251 14.375 10.0001 14.375Z' fill='#254E38')

                li
                    a(href="#").a-btn.d-flex.flex-row-reverse.gap-1.fw-lighter  تماس با ما
                        svg(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 20 20', fill='none')
                            path(opacity='0.3', d='M9.82508 11.8417L7.10008 14.5667C6.80008 14.3001 6.50841 14.0251 6.22508 13.7417C5.36675 12.8751 4.59175 11.9667 3.90008 11.0167C3.21675 10.0667 2.66675 9.11675 2.26675 8.17508C1.86675 7.22508 1.66675 6.31675 1.66675 5.45008C1.66675 4.88341 1.76675 4.34175 1.96675 3.84175C2.16675 3.33341 2.48341 2.86675 2.92508 2.45008C3.45841 1.92508 4.04175 1.66675 4.65841 1.66675C4.89175 1.66675 5.12508 1.71675 5.33341 1.81675C5.55008 1.91675 5.74175 2.06675 5.89175 2.28341L7.82508 5.00841C7.97508 5.21675 8.08341 5.40841 8.15841 5.59175C8.23341 5.76675 8.27508 5.94175 8.27508 6.10008C8.27508 6.30008 8.21675 6.50008 8.10008 6.69175C7.99175 6.88341 7.83341 7.08341 7.63341 7.28341L7.00008 7.94175C6.90841 8.03341 6.86675 8.14175 6.86675 8.27508C6.86675 8.34175 6.87508 8.40008 6.89175 8.46675C6.91675 8.53341 6.94175 8.58341 6.95842 8.63341C7.10842 8.90841 7.36675 9.26675 7.73341 9.70008C8.10841 10.1334 8.50841 10.5751 8.94175 11.0167C9.24175 11.3084 9.53341 11.5917 9.82508 11.8417Z' fill='#797979')
                            path(d='M18.3083 15.275C18.3083 15.5083 18.2667 15.75 18.1833 15.9833C18.1583 16.05 18.1333 16.1166 18.1 16.1833C17.9583 16.4833 17.775 16.7666 17.5333 17.0333C17.125 17.4833 16.675 17.8083 16.1667 18.0166C16.1583 18.0166 16.15 18.025 16.1417 18.025C15.65 18.225 15.1167 18.3333 14.5417 18.3333C13.6917 18.3333 12.7833 18.1333 11.825 17.725C10.8667 17.3166 9.90833 16.7666 8.95833 16.075C8.63333 15.8333 8.30833 15.5916 8 15.3333L10.725 12.6083C10.9583 12.7833 11.1667 12.9166 11.3417 13.0083C11.3833 13.025 11.4333 13.05 11.4917 13.075C11.5583 13.1 11.625 13.1083 11.7 13.1083C11.8417 13.1083 11.95 13.0583 12.0417 12.9666L12.675 12.3416C12.8833 12.1333 13.0833 11.975 13.275 11.875C13.4667 11.7583 13.6583 11.7 13.8667 11.7C14.025 11.7 14.1917 11.7333 14.375 11.8083C14.5583 11.8833 14.75 11.9916 14.9583 12.1333L17.7167 14.0916C17.9333 14.2416 18.0833 14.4166 18.175 14.625C18.2583 14.8333 18.3083 15.0416 18.3083 15.275Z' fill='#254E38')


        div.col.d-flex.align-items-center.justify-content-start.gap-2.flex-row-reverse.col-lg-3.p-0
            a(href="").d-flex.a-btn.justify-content-center.align-items-center.rounded-3
                svg(xmlns='http://www.w3.org/2000/svg', width='28', height='28', viewBox='0 0 32 32', fill='none')
                    path(opacity='0.55', d='M29.3334 10.4134V21.5868C29.3334 25.3334 27.6134 27.9067 24.5868 28.88C23.7068 29.1867 22.6934 29.3334 21.5868 29.3334H10.4134C9.30674 29.3334 8.29341 29.1867 7.41341 28.88C4.38674 27.9067 2.66675 25.3334 2.66675 21.5868V10.4134C2.66675 5.56008 5.56008 2.66675 10.4134 2.66675H21.5868C26.4401 2.66675 29.3334 5.56008 29.3334 10.4134Z', fill='white')
                    path(d='M24.5867 28.88C23.7067 29.1867 22.6933 29.3334 21.5867 29.3334H10.4133C9.30666 29.3334 8.29333 29.1867 7.41333 28.88C7.88 25.36 11.56 22.6267 16 22.6267C20.44 22.6267 24.12 25.36 24.5867 28.88Z', fill='white')
                    path(d='M20.7732 15.4401C20.7732 18.0801 18.6399 20.2267 15.9999 20.2267C13.3599 20.2267 11.2266 18.0801 11.2266 15.4401C11.2266 12.8001 13.3599 10.6667 15.9999 10.6667C18.6399 10.6667 20.7732 12.8001 20.7732 15.4401Z', fill='white')
            a(href="").d-flex.a-btn.justify-content-center.align-items-center.rounded-3
                svg(xmlns='http://www.w3.org/2000/svg', width='28', height='28', viewBox='0 0 32 32', fill='none')
                    path(opacity='0.55', d='M25.6534 7.44H25.1201L20.6134 2.93333C20.2534 2.57333 19.6667 2.57333 19.2934 2.93333C18.9334 3.29333 18.9334 3.88 19.2934 4.25333L22.4801 7.44H9.52008L12.7067 4.25333C13.0667 3.89333 13.0667 3.30666 12.7067 2.93333C12.3467 2.57333 11.7601 2.57333 11.3867 2.93333L6.89341 7.44H6.36008C5.16008 7.44 2.66675 7.44 2.66675 10.8533C2.66675 12.1467 2.93341 13 3.49341 13.56C3.81341 13.8933 4.20008 14.0667 4.61341 14.16C5.00008 14.2533 5.41341 14.2667 5.81341 14.2667H26.1867C26.6001 14.2667 26.9867 14.24 27.3601 14.16C28.4801 13.8933 29.3334 13.0933 29.3334 10.8533C29.3334 7.44 26.8401 7.44 25.6534 7.44Z', fill='white')
                    path(d='M26.1999 14.2667H5.81328C5.42661 14.2667 4.99995 14.2534 4.61328 14.1467L6.29328 24.4001C6.66661 26.6934 7.66661 29.3334 12.1066 29.3334H19.5866C24.0799 29.3334 24.8799 27.0801 25.3599 24.5601L27.3733 14.1467C26.9999 14.2401 26.5999 14.2667 26.1999 14.2667ZM15.9999 24.6667C12.8799 24.6667 10.3333 22.1201 10.3333 19.0001C10.3333 18.4534 10.7866 18.0001 11.3333 18.0001C11.8799 18.0001 12.3333 18.4534 12.3333 19.0001C12.3333 21.0267 13.9733 22.6667 15.9999 22.6667C18.0266 22.6667 19.6666 21.0267 19.6666 19.0001C19.6666 18.4534 20.1199 18.0001 20.6666 18.0001C21.2133 18.0001 21.6666 18.4534 21.6666 19.0001C21.6666 22.1201 19.1199 24.6667 15.9999 24.6667Z', fill='white')
            a(href="").d-lg-flex.a-btn.justify-content-center.align-items-center.rounded-3.d-none.search-btn
                svg(xmlns='http://www.w3.org/2000/svg', width='28', height='28', viewBox='0 0 32 32', fill='none')
                    path(d='M15.3334 28.0001C22.329 28.0001 28.0001 22.329 28.0001 15.3334C28.0001 8.33781 22.329 2.66675 15.3334 2.66675C8.33781 2.66675 2.66675 8.33781 2.66675 15.3334C2.66675 22.329 8.33781 28.0001 15.3334 28.0001Z', fill='white')
                    path(d='M28.3999 29.3332C28.1599 29.3332 27.9199 29.2399 27.7466 29.0666L25.2666 26.5866C24.9066 26.2266 24.9066 25.6399 25.2666 25.2666C25.6266 24.9066 26.2132 24.9066 26.5866 25.2666L29.0666 27.7466C29.4266 28.1066 29.4266 28.6932 29.0666 29.0666C28.8799 29.2399 28.6399 29.3332 28.3999 29.3332Z', fill='white')
div.overlay.vh-100
    div#right-menu.vh-100.bg-white.position-fixed
        img(src="images/logo-icon.png" alt="")
        i.fas.fa-close.close-icon.fs-3.position-absolute
        ul.p-0.my-0
            li
                form(action="" method="get")
                    div.inp-box.position-relative
                        i.fas.fa-magnifying-glass.position-absolute.fs-4
                        input(type="search" name="search-inp" id="search-inp" placeholder="جستجو کردن").fw-lighter
            li.my-4
                a(href="").text-black.fw-lighter.text-decoration-none صفحه اصلی
            li.my-4
                a(href="").text-black.fw-lighter.text-decoration-none فروشگاه
            li.my-4
                a(href="").text-black.fw-lighter.text-decoration-none وبلاگ
            li.my-4
                a(href="").text-black.fw-lighter.text-decoration-none درباره ما
            li.my-4
                a(href="").text-black.fw-lighter.text-decoration-none تماس با ما
div.overlay2.position-fixed.top-0.start-0
    i.fas.fa-close.close-icon.fs-1.position-absolute
    h2.text-white دنبال چه چیزی میگردی؟
    form
        div.inp-box.position-relative
            i.fas.fa-magnifying-glass.position-absolute.fs-4.position-absolute
            input(type="search" name="search-inp-2" id="search-inp-2" placeholder="جستجو کردن").fw-lighter.rounded-4.border-0






